* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url('https://blog.texaco.com.br/wp-content/uploads/2018/03/curso-de-mecanica-automotiva-a-importancia-de-se-manter-atualizado.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#topo {
    background-color: black;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
#logo {
   width: 20%;
   display: flex;
   justify-content: center;
}
#logo img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}
nav {
    width: 80%;
    height: auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu li {
    margin-right: 2%;
    
}
.menu a {
    color: white;
}
#principal {
    text-align: center;
    width: 100%;
    height: auto;
    color: white;
    margin: 5% auto;
}
#principal img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}
#principal h2 {
    color: red;
}
#serviços {
    width: 100%;
    height: auto;
    margin: 5% auto;
}
#serviços ul {
    display: flex;
    justify-content: space-around;
}
#serviços img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
#sobre {
    width: 80%;
    height: auto;
    text-align: center;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    color: white;
    border-radius: 20px;
    margin: 0 auto;
}
#rodape {
    background-color: black;
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icons {
    margin: 2%;
}
#icons a {
    color: white;
    transition: color 0.3s;
}
#icons a:hover {
    color: red;
}
#infor {
    color: white;
    margin: 2%;
}
