* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url('https://blog.texaco.com.br/wp-content/uploads/2018/03/curso-de-mecanica-automotiva-a-importancia-de-se-manter-atualizado.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#topo {
    background-color: black;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7));
    display: flex;
    align-items: center;
}
#logo {
   width: 20%;
   display: flex;
   justify-content: center;
}
#logo img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}
nav {
    width: 80%;
    height: auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu li {
    margin-right: 2%;
    
}
.menu a {
    color: white;
}
#principal {
    text-align: center;
    color: white;
    margin: 5% auto;
}
#principal h2 {
    color: red;
}
#serviços {
    margin: 5% auto;
}
#serviços ul {
    display: flex;
}
#serviços img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
#sobre {
    width: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 20px;
    margin: 0 auto;
}
#rodape {
    background-color: black;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icons {
    margin: 2%;
}
#icons a {
    color: white;
    transition: color 0.3s;
}
#icons a:hover {
    color: red;
}
#infor {
    color: white;
    margin: 2%;
}
@media (min-width: 701px) and (max-width: 1199px) {
    body {
        font-size: 140%;
    }
    #serviços ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    #serviços img {
        width: 80%;
    }
        #icons {
        width: 20%;
    }
    #infor {
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 700px) {
    #topo {
        height: 70px;
        font-size: 80%;
    }
    #serviços ul {
        display: grid;
        grid-template-columns: 1fr;
    }
    #serviços img {
        width: 70%;
    }
    #rodape {
        font-size: 90%;
    }
    #icons {
        width: 25%;
    }
    #infor {
        width: 75%;
        margin-left: 20%;
    }
}